.margin-bottom-xl {margin-bottom: 6rem;}
.margin-bottom-lg {margin-bottom: 1.5rem;}
.margin-bottom-md {margin-bottom: 0.8rem;}
.margin-bottom-sm {margin-bottom: 0.5rem;}

.margin-top-xl {margin-top: 6rem;}
.margin-top-lg {margin-top: 1.5rem;}
.margin-top-md {margin-top: 0.8rem;}
.margin-top-sm {margin-top: 0.5rem;}

.heading-lg { 
    font-weight: 600;
    font-size: 25px;
}
.heading-md {}
.heading-sm {}

.para-lg {}
.para-md {}
.para-sm {
    font-weight: bold;
    font-size: 12px;
}

.btn {
    padding: 15px;
    font-weight: 600;
    border-radius: 5px;
    outline: none;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    cursor: pointer;
}

.btn-primary {
    background-color: $color-primary;
    color: #fff;
}

.btn-default {
    border: 1px solid $color-border;
    background-color: #fff;
    color: $color-primary;
}

.btn-full {
    display: block;
    width: 100%;
}

.form__group {
    margin: 10px 0;

    input {
        width: 100%;
        display: block;
        padding: 13px;
        border-radius: 5px;
        outline: none;
        border: 1px solid $color-border;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;

        &::placeholder {
            color: $color-black-light;
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
            font-size: 14px;
        }
    }
}